# For a given dataset predict number of bikes getting shared based on different parameters 
	https://drive.google.com/open?id=1ohN2o3zSZ2Xuy4CIdTWN-dTmciUXizst

In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [86]:
dataset = pd.read_csv("bike_sharing.csv")
dataset.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [87]:
# taking required labels
features = ['season', 'workingday', 'temp']
target = ['cnt']

In [88]:
# creating new dataset with required columns
required_dataset = dataset[required_features+target]

In [89]:
# statistical representation
required_dataset.describe()

             season    workingday          temp           cnt
count  17379.000000  17379.000000  17379.000000  17379.000000
mean       2.501640      0.682721      0.496987    189.463088
std        1.106918      0.465431      0.192556    181.387599
min        1.000000      0.000000      0.020000      1.000000
25%        2.000000      0.000000      0.340000     40.000000
50%        3.000000      1.000000      0.500000    142.000000
75%        3.000000      1.000000      0.660000    281.000000
max        4.000000      1.000000      1.000000    977.000000

In [90]:
# checking null values
required_dataset.isnull().any()

season        False
workingday    False
temp          False
cnt           False
dtype: bool

In [91]:
# checking duplicate values
required_dataset.duplicated(keep='first').any()

True

In [92]:
# removing duplicate values
required_dataset.drop_duplicates(keep='first', inplace=True)

C:\Users\akash\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [93]:
required_dataset.count()

season        14162
workingday    14162
temp          14162
cnt           14162
dtype: int64

In [94]:
X_train, X_test, y_train, y_test = train_test_split(required_dataset[features], required_dataset[target], test_size=0.3, random_state=42)

In [95]:
# converting splited sets into numpy array
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [96]:
# loading SVR algorithm with linear kernel
regressor = SVR(kernel='linear')

In [97]:
# generating model
regressor.fit(X_train, y_train)

C:\Users\akash\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [98]:
# predicting test and train datasets
test_prediction = regressor.predict(X_test)
train_prediction = regressor.predict(X_train)

In [99]:
# r^2 score to check difference between actual and predict value difference
print("r2 score:",regressor.score(X_train, y_train))

r2 score: 0.09681713206198483

In [100]:
# errors
print(metrics.mean_squared_error(y_test, test_prediction))
print(metrics.mean_absolute_error(y_test, test_prediction))

32092.139698880026
130.81306073755906

In [101]:
print(metrics.mean_squared_error(y_train, train_prediction))
print(metrics.mean_absolute_error(y_train, train_prediction))

30912.06603387076
127.83889106802982