# Build a machine learning model to predict user will click the ad or not based on his experience and estimated salary for a given dataset.
https://drive.google.com/open?id=1I8KsCufEa47XvzrkxhntEWSy1Su0E0N

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
# StandardScaler is used to convert numerical values
# LabelEncoder is used to convert labels to numerical values
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier

# Preprocessing

In [62]:
dataset = pd.read_csv("Social_Network_Ads.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [63]:
dataset.duplicated(keep='first')

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
370    False
371    False
372    False
373    False
374    False
375    False
376    False
377    False
378    False
379    False
380    False
381    False
382    False
383    False
384    False
385    False
386    False
387    False
388    False
389    False
390    False
391    False
392    False
393    False
394    False
395    False
396    False
397    False
398    False
399    False
Length: 400, dtype: bool

In [64]:
dataset.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [65]:
dataset.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [112]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [113]:
# loading LabelEncoder to convert labels to numerics
label_quality = LabelEncoder()
dataset['Gender']=label_quality.fit_transform(dataset['Gender'])

In [154]:
# spliting data into sets independent (X) and dependent (y) variables
X = dataset[['Gender','Age','EstimatedSalary']]
y = dataset['Purchased']
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=0)

In [155]:
# Transforming datasets into useful content
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X = scaler.fit_transform(X)

C:\Users\akash\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\akash\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\akash\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\akash\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [162]:
# trainning creating model
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)

C:\Users\akash\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [214]:
# predicting test file values
test_prediction = classifier.predict(X_test)
print("Accuracy Score:") # TP_TN/TP+NP+FP+FN
print(metrics.accuracy_score(y_test, test_prediction))

# Classification report is used to measure quality of predictions
# 'precision' is the total number of correctly classified positive examples by
# the total number of predicted positive examples
# 'recall' is the ratio of the total number of correctly classified positive
# examples divided to the total number of positive examples
# 'F1-score' 2*recall*precision/recall+precision
print("Classification Report:")
print(metrics.classification_report(y_test, test_prediction))

# Confusion matrix is a summary of prediction results
print("Confusion Score:")
print(metrics.confusion_matrix(y_test, test_prediction))

Accuracy Score:
0.275
Classification Report:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        58
           1       0.28      1.00      0.43        22

   micro avg       0.28      0.28      0.28        80
   macro avg       0.14      0.50      0.22        80
weighted avg       0.08      0.28      0.12        80

Confusion Score:
[[ 0 58]
 [ 0 22]]

C:\Users\akash\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\akash\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\akash\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [215]:
# predicting training file
train_prediction = classifier.predict(X)
print("Accuracy Score:")
print(metrics.accuracy_score(y, train_prediction))
print("Classification Report:")
print(metrics.classification_report(y, train_prediction))
print("Confusion matrix: ")
print(metrics.confusion_matrix(y, train_prediction))

Accuracy Score:
0.95
Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.96      0.96       257
           1       0.94      0.92      0.93       143

   micro avg       0.95      0.95      0.95       400
   macro avg       0.95      0.94      0.95       400
weighted avg       0.95      0.95      0.95       400

Confusion matrix:
[[248   9]
 [ 11 132]]